
/* HEADER */

.c-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3vh;
}

.c-header__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.c-header__title div {
  padding: 1.5vh var(--margin-default);
  height: 100%;
}

.c-header__title div:active {
  background: rgba(255,255,255, .05);
}

.c-header__title img {
  pointer-events: none;
  width: 4vw;
  height: 4vw;
  opacity: .7;
}

.c-header__title h1 {
  font-size: 1rem;
  color: #efefff;
  text-align: center;
  font-family: serif;
}

/* COVER */

.c-header__cover {
  width: calc(1rem * 4);
  height: calc(1rem * 4);
  max-width: 20vw;
  max-height: 20vw;
  border-radius: 50%;
  margin-top: .5vh;
  background: #44444a;
  box-shadow: 0px 2px 2px rgba(0,0,0, .12);
}

.c-header__cover img {
  width: 100%;
  transform: scale(.7);
}

/* SEEKBAR */

.c-header__seekbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--margin-default);
  margin-top: 2vh;
  width: 100%;
}

.c-header__seekbar p {
  color: #efefff;
  font-weight: bold;
  font-size: .6rem;
}

.c-header__seekbar input {
  flex: 1;
  margin: 0 var(--margin-default);
  background: var(--color-details);
}

.c-header__seekbar input,
.c-header__seekbar input::-webkit-slider-runnable-track,
.c-header__seekbar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50px;
}

.c-header__seekbar input::-webkit-slider-runnable-track {
  height: 1.5vh;
}

.c-header__seekbar input::-webkit-slider-thumb {
  background: #7a7a80;
  width: 4.5vw;
  height: 4.5vw;
  margin-top: -1vw;
  box-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

/* ARTIST */

.c-header__artist {
  font-size: .6rem;
  color: #efefff;
  text-align: center;
  margin-top: 2vh;
  width: 100%;
  padding: 0 var(--margin-default);
}

/* CONTROLS */

.c-header__controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2vh;
}

.c-header__controls li {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #44444a;
  border-radius: 50%;
  width: calc(1rem * 1.87);
  height: calc(1rem * 1.87);
  max-width: 8vw;
  list-style: none;
  max-height: 8vw;
  box-shadow: 0px 1px 0px rgba(0,0,0, .2), 0px 1px 3px rgba(0,0,0, .2), 0px -1px 0px #54545b;
}

.c-header__controls li.active {
  background: rgba(0,255,255, .5);
}

.c-header__controls li:nth-child(3) {
  / box-shadow: 0px 2px 0px rgba(0,0,0, 0.12), 0px 3px 3px rgba(0,0,0, .13);
  width: calc(1rem * 2.5);
  height: calc(1rem * 2.5);
  max-width: 10vw;
  max-height: 10vw;
  margin: 0 2vw;
}

.c-header__controls li:first-child {
  position: absolute;
  left: var(--margin-default);
}

.c-header__controls li.active:first-child::before {
  content: "1";
  pointer-events: none;
  position: absolute;
  color: #ffffff;
  font-weight: bold;
  font-size: .4rem;
}

.c-header__controls li:last-child {
  position: absolute;
  right: var(--margin-default);
}

.c-header__controls li:active {
  background: rgba(0,255,255, .5);
}

.c-header__controls img {
  pointer-events: none;
  width: 50%;
}
