
:root {
  --primary-color: #2a2a30;
  --secondary-color: #3a3a40;
  --margin-default: 3vw;
  --color-details: cyan;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  background: transparent;
  width: 0px;
  height: 0px;
}

body, html {
  height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 4vw;
  //user-select: none;
}

.nowrap {
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

input, button {
  outline: none;
  border: 0;
}

li {
  list-style: none;
}

/* LOADING */

.c-loading {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 7vw;
  height: 7vw;
  transform: translate(-50%, -50%);
}

.c-loading div {
  width: 100%;
  height: 100%;
  border: 1vw solid var(--secondary-color);
  border-top: 1vw solid cyan;
  border-radius: 50%;
  animation: isRotate 1s linear infinite;
}

@keyframes isRotate {
  100% {
    transform: rotate(360deg);
  }
}

/* PROGRESS DURATIONS */

[data-container_progress_durations] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .3);
  z-index: 110;
}

[data-container_progress_durations] .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1vw;
  padding: 2vh 3vh;
  background: #4a4a50;
  box-shadow: 0 .5vh .5vh .3vh rgba(0,0,0, .12);
}

[data-container_progress_durations] h3 {
  font-size: .9rem;
  color: #efefff;
}

[data-container_progress_durations] .progress {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1vh;
  border-radius: 50vw;
  margin-top: 2.5vh;
  background: var(--secondary-color);
  overflow: hidden;
}

[data-container_progress_durations] .progress div {
  height: 100%;
  width: 0%;
  background: cyan;
  border-radius: inherit;
  transition: width .1s linear;
}

[data-container_progress_durations] p {
  color: cyan;
  font-size: .8rem;
  margin-top: 2.5vh;
  font-weight: bold;
}


/* PLAYER */

.c-player {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /background: var(--primary-color);
  background-image: linear-gradient(to top, #37373d, #3a3a40);
  overflow: hidden;
}

.c-player.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0, .3);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.c-player.order::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0, .3);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* SEARCH */
.c-search {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0%;
  background: inherit;
  z-index: 102;
  height: 100%;
  transition: width .1s linear;
  overflow: hidden;
}

.c-search.active {
  width: 100%;
}

.c-form {
  display: flex;
  align-items: center;
  width: calc(100% - (var(--margin-default) * 2 ));
  background: cyan;
  padding: 1vw;
  margin-top: 10px;
  border-radius: 50vw;
  overflow: hidden;
}

.c-form div {
  padding: 8px;
  background: var(--secondary-color);
  border-radius: 50%;
}

.c-form div:active {
  background: rgba(255,255,255, .12);
}

.c-form img {
  pointer-events: none;
  width: 4vw;
  height: 4vw;
}

.c-form input {
  flex: 1;
  min-height: 100%;
  font-weight: bold;
  background: transparent;
  color: var(--secondary-color);
  font-size: .7rem;
  margin-left: 2vw;
}

.c-form input::placeholder {
  color: #626168;
}

/* CHECKBOX */

.checkbox {
  appearance: none;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5.5vw;
  height: 5.5vw;
  border-radius: 50vw;
  border: 0.4vw solid var(--color-details);
}

.checkbox:checked {
  border: 0.4vw solid var(--color-details);
}

.checkbox::before {
  content: "";
  display: inline-block;
  height: 15%;
  border-radius: 50vw;
  background: var(--color-details);
}

.checkbox:checked::before {
  display: inline-block;
  width: 60%;
  width: 1.2vw;
  height: 1.7vw;
  background: none;
  border-right: 0.6vw solid var(--color-details);
  border-bottom: 0.6vw solid var(--color-details);
  transform: rotate(45deg);
  margin-bottom: 12%;
  border-radius: 0;
}

/* ORDER OPTIONS */

.c-order {
  position: absolute;
  left: 0;
  bottom: 0;
  /display: none;
  transform: translateY(100%);
  background: #424148;
  width: 100%;
  padding-bottom: 1vh;
  z-index: 1001;
  transition: .3s ease-out;
}

.c-player.order .c-order {
  /display: block;
  transform: translateY(0);
}

.c-order__options {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.c-order__options label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vh var(--margin-default);
}

.c-order__options label:active {
  background: var(--secondary-color);
}

.c-order__options label p {
  font-size: .8rem;
  color: #efefff;
  font-weight: bold;
}

.c-order__options p,
.c-order__options img {
  pointer-events: none;
}

.c-order__options input {
  appearance: none;
  position: relative;
  /background: var(--secondary-color);
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  border: .4vw solid cyan;
}
.c-order__options input::before,
.c-order__options input:checked::before {
  content: "";
  position: absolute;
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  background: cyan;
  opacity: 1;
}

.c-order__options input::before {
  opacity: 0;
  transition: opacity .3s ease;
}