
:root {
  --primary-color: #2a2a30;
  --secondary-color: #3a3a40;
  --margin-default: 3vw;
  --color-details: cyan;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  background: transparent;
  width: 0px;
  height: 0px;
}

body, html {
  height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 4vw;
}

.nowrap {
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c--flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PLAYER */

.c-player {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /background: var(--primary-color);
  background-image: linear-gradient(to top, #37373d, #3a3a40);
}

.c-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5vh;
}

.c-header__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.c-header__title div {
  padding: 1.5vh var(--margin-default);
  height: 100%;
}

.c-header__title div:active {
  background: rgba(255,255,255, .05);
}

.c-header__title img {
  pointer-events: none;
  width: 4vw;
  height: 4vw;
  opacity: .7;
}

.c-header__title h1 {
  font-size: 1rem;
  color: #efefff;
  text-align: center;
  font-family: serif;
}

/* COVER */

.c-header__cover {
  width: calc(1rem * 4);
  height: calc(1rem * 4);
  max-width: 20vw;
  max-height: 20vw;
  border-radius: 50%;
  margin-top: .5vh;
  background: #44444a;
  box-shadow: 0px 2px 2px rgba(0,0,0, .12);
}

.c-header__cover img {
  width: 100%;
  transform: scale(.7);
}

/* SEEKBAR */

.c-header__seekbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--margin-default);
  margin-top: 2vh;
  width: 100%;
}

.c-header__seekbar p {
  color: #efefff;
  font-weight: bold;
  font-size: .6rem;
}

.c-header__seekbar input {
  flex: 1;
  margin: 0 var(--margin-default);
  background: var(--color-details);
}

.c-header__seekbar input,
.c-header__seekbar input::-webkit-slider-runnable-track,
.c-header__seekbar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50px;
}

.c-header__seekbar input::-webkit-slider-runnable-track {
  height: 1.5vh;
}

.c-header__seekbar input::-webkit-slider-thumb {
  background: #7a7a80;
  width: 4.5vw;
  height: 4.5vw;
  margin-top: -1vw;
  box-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

/* ARTIST */

.c-header__artist {
  font-size: .6rem;
  color: #efefff;
  text-align: center;
  margin-top: 2vh;
  width: 100%;
  padding: 0 var(--margin-default);
}

/* CONTROLS */

.c-header__controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2vh;
}

.c-header__controls li {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #44444a;
  border-radius: 50%;
  width: calc(1rem * 1.87);
  height: calc(1rem * 1.87);
  max-width: 8vw;
  list-style: none;
  max-height: 8vw;
  box-shadow: 0px 1px 0px rgba(0,0,0, .2), 0px 1px 3px rgba(0,0,0, .2), 0px -1px 0px #54545b;
}

.c-header__controls li:nth-child(3) {
  / box-shadow: 0px 2px 0px rgba(0,0,0, 0.12), 0px 3px 3px rgba(0,0,0, .13);
  width: calc(1rem * 2.5);
  height: calc(1rem * 2.5);
  max-width: 10vw;
  max-height: 10vw;
  margin: 0 2vw;
}

.c-header__controls li:first-child {
  position: absolute;
  left: var(--margin-default);
}

.c-header__controls li:last-child {
  position: absolute;
  right: var(--margin-default);
}

.c-header__controls li:active {
  background: rgba(0,255,255, .5);
}

.c-header__controls img {
  pointer-events: none;
  width: 50%;
}

/* MAIN */

.c-main {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 4vw;
  border-top-right-radius: 4vw;
  width: 100%;
  /background: #4a4a50;
  background: #424148;
  overflow: hidden;
  /box-shadow: 0px -.2vh rgba(255,255,255, .1);
  flex: 1;
}

.c-main.active {
  position: absolute;
  bottom: 0;
  height: 95%;
}

.c-main__musics {
  position: relative;
  overflow-y: auto;
  flex: 1;
}

/* SLIDER */
.c-main__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4vh;
  width: 100%;
  /border-bottom: .3vh solid rgba(255,255,255, .05);
}

.c-main__slider span {
  pointer-events: none;
  width: 15%;
  min-height: .6vh;
  border-radius: 50vw;
  background: #626168;
}

/* TOTAL TIMES */ 

.c-main__total_times {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.c-main__total_times img {
  width: 3.5vw;
  height: 3.5vw;
}

.c-main__total_times p {
  font-size: .7rem;
  font-weight: bold;
  margin-left: 1vw;
  color: #efefff;
}

/* MUSICS */

.c-main__musics {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  margin-top: 2vh;
}

.c-main__musics::-webkit-scrollbar {
  appearance: none;
  width: .6vw;
}
.c-main__musics::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(0,255,255, .7);
}

/* CARDS */

.c-musics__card {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1vh var(--margin-default);
  list-style: none;
  transition: background .1s linear;
}

.c-musics__card__icon {
  pointer-events: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .7vw 0;
  width: calc(1rem * 2.25);
  height: calc(1rem * 2.25);
  max-width: 9vw;
  max-height: 9vw;
  background: #EDEEFF;
  box-shadow: 0px 2px 0px #9f9faf;
  border-radius: .7vw;
}

.c-musics__card__icon img {
  width: 50%;
}

.c-musics__card__icon span {
  color: #EDEEFF;
  border-radius: .5vw;
  width: calc(100% - 1vw);
  text-align: center;
  padding: .3vw 0;
  font-weight: bold;
  font-size: .45rem;
  /margin-top: .3vh;
  background-image: linear-gradient( to right, #64646a, #54545a);
}

.c-musics__card__name {
  pointer-events: none;
  color: #afafbf;
  /color: #616069;
  font-weight: bold;
  font-size: .6rem;
  letter-spacing: .1vw;
  margin: 0 2vw;
  flex: 1;
}

.c-musics__card.active {
  position: sticky;
  top: 0;
  background: rgba(0,220,220, 1);
  z-index: 2;
}

.c-musics__card.active .c-musics__card__icon img {
  height: 100%;
  width: 100%;
}

.c-musics__card.playing .c-musics__card__icon img {
  animation: music-playing .2s ease-in-out alternate infinite;
}

.c-musics__card.active .c-musics__card__icon span {
  display: none;
}


.c-musics__card.active .c-musics__card__icon {
  background: var(--color-details);
  justify-content: center;
  box-shadow: 0px 2px 1px rgba(0,0,0, .2);
  padding: 1.5vw;
}

.c-musics__card.active .c-musics__card__name {
  color: #54545a;
}

@keyframes music-playing {
  from {
    transform: scale(1.2);
  }
}

/* ============================================================
                            POINTERS
============================================================ */

.c-musics__card__points {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /background: red;
  padding: 1vw;
}

.c-musics__card__points span {
  pointer-events: none;
  background: rgba(237, 238, 255, .7);
  width: .25rem;
  height: .25rem;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.c-musics__card.active .c-musics__card__points span {
  background: #4a4a50;
}

.c-musics__card__points span::after,
.c-musics__card__points span::before,
.c-musics__card__points:hover::after {
  content: "";
  pointer-events: none;
  display: inline-block;
  position: absolute;
  background: inherit;
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.c-musics__card__points span::after {
  top: -150%;
}

.c-musics__card__points span::before {
  top: 150%;
}

.c-musics__card__points:active::after {
  background: var(--secondary-color);
  width: 7vw;
  height: 7vw;
  z-index: 0;
}

.c-musics__card.active .c-musics__card__points:active::after {
  background: rgba(0,0,0, .15);
}

/* ACTIONS */

.c-musics__card__actions {
  display: flex;
  /flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #44444a;
  border-radius: 1vw;
  box-shadow: rgba(0, 255, 255, 0.8) 0px 0px 0px 3px;
  z-index: 20;
}

.c-musics__card__actions p {
  color: var(--color-details);
  display: flex;
  align-items: center;
  position: relative;
  /width: 100%;
  font-size: .7rem;
  padding: 15px 15px;
  font-weight: bold;
  white-space: nowrap;
  / border-bottom: 1px solid rgba(0,0,0, .2);
}

.c-musics__card__actions p::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -.35vw;
  width: .7vw;
  height: 70%;
  background: rgba(0,0,0, .12);
}

.c-musics__card__actions p:nth-child(1)::after {
  display: none;
}

.c-musics__card__actions p:active {
  background: rgba(0,0,0, .12);
}
