
/* MAIN */

.c-main {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 4vw;
  border-top-right-radius: 4vw;
  width: 100%;
  /background: #4a4a50;
  background: #424148;
  /background-image: linear-gradient(to top, #3a3a40, #37373d);
  overflow: hidden;
  /box-shadow: 0px -.2vh rgba(255,255,255, .1);
  flex: 1;
  z-index: 101;
}

.c-player.main .c-main,
.c-player.select .c-main{
  position: absolute;
  bottom: 0;
  height: 95%;
}

.c-main__musics {
  position: relative;
  overflow-y: auto;
  flex: 1;
}

/* SLIDER */
.c-main__slider {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5vh;
  width: 100%;
  /border-bottom: .3vh solid rgba(255,255,255, .05);
}

.c-main__slider span {
  pointer-events: none;
  width: 15%;
  margin-bottom: 1vh;
  min-height: .7vh;
  border-radius: 50vw;
  background: #626168;
}

/* OPTIONS */

.c-main__options {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--margin-default);
  width: 100%;
}

.c-main__options li {
  display: flex;
  align-items: center;
}

.c-main__options img {
  pointer-events: none;
  width: 3.5vw;
  height: 3.5vw;
}

.c-main__options p {
  pointer-events: none;
  font-size: .7rem;
  font-weight: 350;
  margin-left: .6vw;
  color: #e4e4ea;
}

.c-main__options li div,
.c-main__options li label {
  display: flex;
  align-items: center;
}

.c-main__options li div:nth-child(even) {
  margin-left: 3vw;
}

.c-main__options li:last-child div:nth-child(1),
.c-main__options li:last-child div:nth-child(2) {
  pointer-events: auto;
}

.c-main__options__order:active {
  background: var(--secondary-color);
}

.c-main__options__order p {
  margin-left: 0;
}

.c-main__options__select input {
  width: 3vw;
  height: 3vw;
}

.c-main__options__select input:checked::before {
  width: 1vw;
  height: 1.5vw;
  border-right: 0.4vw solid var(--color-details);
  border-bottom: 0.4vw solid var(--color-details);
}

.c-main__options__select input::before {
  display: none;
}

/* MUSICS */

.c-main__musics {
  position: relative;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  margin-top: 2vh;
}

.c-main__musics::-webkit-scrollbar {
  appearance: none;
  width: .6vw;
}
.c-main__musics::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(0,255,255, .7);
}

/* MUSIC NOT FOUND */

.c-not_found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
  width: 100%;
  width: 100%;
}

.c-not_found > div {
  display: flex;
  align-items: center;
  padding: 1vw;
  width: 70%;
  background: #323138;
  border-radius: 50vw;
}

.c-not_found p {
  font-size: .7rem;
  color: #828188;
  width: 100%;
  text-align: center;
  padding: var(--margin-default);
}

.c-not_found input {
  background: transparent;
  padding: 2vw;
  border-radius: 50vw;
  color: cyan;
  flex: 1;
}

.c-not_found button {
  width: 7vw;
  height: 7vw;
  border-radius: 50vw;
  background: #424148;
}

.c-not_found button:active {
  transform: scale(.95);
  background: #525158;
}

.c-not_found button::before {
  pointer-events: none;
  content: "";
  width: 1.8vw;
  height: 2vw;
  background: none;
  border-right: 0.6vw solid cyan;
  border-bottom: 0.6vw solid cyan;
  transform: rotate(45deg);
  margin-bottom: 12%;
}

.c-not_found button:active::before {
  border-right: 0.6vw solid #efefff;
  border-bottom: 0.6vw solid #efefff;
}

/* CARDS */

.c-musics__card {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1vh 0;
  padding-left: var(--margin-default);
  padding-right: calc(var(--margin-default) - 1vw );
  overflow: hidden;
}

.c-musics__card::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bgcolor-active);
  width: 0vw;
  height: 0vw;
  border-radius: 50%;
  z-index: -1;
}

.c-musics__card.active::before {
  animation: activate-card .3s ease;
}

@keyframes activate-card {
  100%{
    width: 700px;
    height: 700px;
  }
}

/* CARD SELECT */

.c-musics__card label {
  display: flex;
  align-items: center;
  height: 100%;
}

.c-musics__card .checkbox {
  display: none;
  width: 4.5vw;
  height: 4.5vw;
  margin-right: 2vw;
}

.c-player.select .c-musics__card .checkbox {
  display: flex;
}

.c-musics__card__icon {
  pointer-events: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: .7vw 0;
  width: calc(1rem * 2.50);
  height: calc(1rem * 2.50);
  /max-width: 9vw;
  /max-height: 9vw;
  /background: var(--secondary-color);
  box-shadow: 0px 1.5px 0px 0px #a2a1a8;
  background: #efefff;
  /box-shadow: 0px 0px 0px 2px cyan;
  border-radius: .8vw;
}

.c-musics__card__icon img {
  width: 50%;
}

.c-musics__card__icon span {
  /display: none;
  color: var(--color-details);
  border-radius: .5vw;
  width: calc(100% - 1vw);
  text-align: center;
  padding: .3vw 0;
  font-weight: bold;
  font-size: .45rem;
  /margin-top: .3vh;
  background: #525158;
  /background-image: linear-gradient( to right, #00b1ff, var(--color-details));
}

.c-musics__card__name {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: var(--margin-default);
  margin-right: calc(var(--margin-default) - 1vw);
  overflow: hidden;
}

.c-musics__card__name p {
  /color: #8E8B95;
  color: #83808a;
  /color: #616069;
  font-weight: bold;
  font-size: .6rem;
  letter-spacing: .1vw;
  /flex: 1;
}

.c-musics__card__name span {
  font-size: .5rem;
  color: #929198;
  padding: 1vw;
  border-radius: 50vw;
  font-weight: bold;
  margin-left: 1.5vw;
  background: #525158;
}


.c-musics__card.active .c-musics__card__icon {
  /background: var(--color-details);
  /justify-content: center;
  /box-shadow: 0px .5px 2px 2px #525158;
  /padding: 1.5vw;
}

.c-musics__card.active .c-musics__card__icon img {
  /height: 100%;
  /width: 100%;
}

.c-musics__card.playing .c-musics__card__icon img {
  animation: music-playing .2s ease-in-out alternate infinite;
}

.c-musics__card.active .c-musics__card__name p {
  color: var(--color-details);
}

@keyframes music-playing {
  from {
    transform: scale(1.2);
  }
}

/* SELECT */

.c-main__select {
  display: none;
  width: 100%;
  background: #4F4E54;
}

.c-player.select .c-main__select {
  display: flex;
}

.c-main__select li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 1vh 0;
}

.c-main__select li:active {
  background: rgba(255,255,255, .12);
}

.c-main__select img {
  pointer-events: none;
  width: 4vw;
  height: 4vw;
}

.c-main__select p {
  pointer-events: none;
  font-size: .6rem;
  color: #efefff;
  font-weight: bold;
  margin-top: .6vh;
}

/* ============================================================
                            POINTERS
============================================================ */

.c-musics__card__points {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /background: red;
  padding: 1vw;
}

.c-player.select .c-musics__card__points {
  display: none;
}

.c-musics__card__points span {
  pointer-events: none;
  background: rgba(237, 238, 255, .7);
  width: .15rem;
  height: .15rem;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.c-musics__card.active .c-musics__card__points span {
  /background: #4a4a50;
}

.c-musics__card__points span::after,
.c-musics__card__points span::before,
.c-musics__card__points:hover::after {
  content: "";
  pointer-events: none;
  display: inline-block;
  position: absolute;
  background: inherit;
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.c-musics__card__points span::after {
  top: -200%;
}

.c-musics__card__points span::before {
  top: 200%;
}

.c-musics__card__points:active::after {
  background: var(--secondary-color);
  width: 7vw;
  height: 7vw;
  z-index: 0;
}

.c-musics__card.active .c-musics__card__points:active::after {
  background: rgba(0,0,0, .15);
}